<h1>Listing dptos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dptos.each do |dpto| %>
      <tr>
        <td><%= dpto.name %></td>
        <td><%= link_to 'Show', dpto %></td>
        <td><%= link_to 'Edit', edit_dpto_path(dpto) %></td>
        <td><%= link_to 'Destroy', dpto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dpto', new_dpto_path %>
