<h1>Listing neightborhoods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @neightborhoods.each do |neightborhood| %>
      <tr>
        <td><%= neightborhood.name %></td>
        <td><%= neightborhood.city.name %></td>
        <td><%= link_to 'Show', neightborhood %></td>
        <td><%= link_to 'Edit', edit_neightborhood_path(neightborhood) %></td>
        <td><%= link_to 'Destroy', neightborhood, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Neightborhood', new_neightborhood_path %>
