<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @neightborhood.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @neightborhood.city.name %>
</p>

<%= link_to 'Edit', edit_neightborhood_path(@neightborhood) %> |
<%= link_to 'Back', neightborhoods_path %>
