
<ul> 

<li> <%= link_to "Restaurantes", restaurants_path%> </li>
<li> <%= link_to "Usuarios" , users_path%>  </li>
<li> <%= link_to "Departamentos" , dptos_path%> </li>
<li> <%= link_to "Ciudades" , cities_path%> </li>
<li> <%= link_to "Barrios" , neightborhoods_path%> </li>
<li> <%= link_to "Productos" , products_path%> </li>
<li> <%= link_to "Ordenes" , orders_path%> </li>
<li> <%= link_to "Search" , publics_search_path%> </li>


</ul>
